@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Squada+One&family=Staatliches&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

/* BIO NAVIGATOR SECTION */

.bio{
    display: flex;
    background: rgb(255,106,59);
    background: linear-gradient(180deg, rgba(255,106,59,1) 0%, rgba(222,216,203,1) 100%);
    
}

.nest_for_bio_and_bar{
    display: flex;
}

/*SPACE BETWEEN BIO AND NAVBAR*/

.navbar{
    padding-left: 58em;
}



.bio_title{
    margin: 25px 0px;
    padding: 0px 25px;
    font-family: "Staatliches", sans-serif;
    font-size: 45px;
}

.navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 30px 0px;
    
}

ul a{
    text-decoration: none;
    margin: 0px 15px;
    font-family: "Staatliches", sans-serif;
    font-size: 35px;
    color: black;
    transition: color 0.5s ease;
}

.inspiration{
    margin-right: 30px;
}

a:active{
    color: black;
}

a:hover{
    color: white;

}

/* Burger Icon (Hidden on larger screens) */
.burger-icon {
    cursor: pointer;
    display: none; /* Hidden by default */
    flex-direction: column;
    gap: 5px;
    padding:30px 20px 0px 0px;
}

.burger-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    transition: transform 0.3s, opacity 0.3s;
}

/* Active State for Burger Icon */
.burger-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Dropdown Menu (Hidden on larger screens) */

.dropdown-menu-container{
    display: none; /* Hidden by default */
    background: rgb(255,106,59);
    background: linear-gradient(180deg, rgba(255,106,59,1) 3%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 80%);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust width as needed */
    
}

.dropdown-menu {
    list-style: none;
    display: flex;
    flex-direction: column; /* Display items in a column */
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 8px; /* Space between menu items */
}

/* Show Dropdown Menu */
.dropdown-menu-container.active {
    display: block;
    flex-direction: column;
}


/* MAIN BODY CONTENT */

.content_container{
    /* background-color: #DED8CB; */
    background: rgb(222,216,203);
    background: linear-gradient(180deg, rgba(222,216,203,1) 27%, rgba(236,233,226,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* TECH AND ART SECTION */

.tech_text{
    width: 400px;
    height: 300px;
    background-color: #ece9e2;
    border-radius: 10px;
    padding: 15px 5px;
    font-family: "Archivo", sans-serif;
}

.p1,.p2{
    padding: 5px;
}

/* TECH AND ART TITLE */

.tech_art span{
    font-size:30px;
    font-family: "Squada One", sans-serif;
}

.ta_title{
    text-align: center;
    padding-bottom: 5px;
}


/* IMAGE SECTION */

.fullname_div{
    text-align: center;
    padding-bottom: 5px;
}
.full_name{
    font-family: "Squada One", sans-serif;
    font-size: 30px;
}

.bio_img{
    display: flex;
    flex-direction: column;
}

img{
    height: 400px;
    min-width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* PASSION SECTION */

.passion_title_div{
    text-align: center;
    padding-bottom: 5px;
}

.passion{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 15px 5px;
    background-color: #ece9e2;
    font-family: "Archivo", sans-serif;
}

.passion_larger span{
    font-family: "Squada One", sans-serif;
    font-size: 30px;
}

.passion_p1, .passion_p2{
    padding: 5px;
}



/*IPHONE AND SMALLER DEVICES*/

@media screen and (max-width: 650px) and (min-width: 250px) {

    html, body{
        max-width: 100vh;
        height: 100vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        overflow-x: hidden;
        background-color: #000;
    }

    /* Hide scrollbar for Chrome, Safari, Opera */
    ::-webkit-scrollbar {
    display: none;
  }

    .navbar{
        display: none;
    }


    .bio{
        display: flex;
        /* border: 5px solid beige; */
        width: 100%;
    }

    .bio_title{
        font-size: 40px;
        color: #fff;
    }

    .nest_for_bio_and_bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #000;
        /* border: 1px solid rgb(114, 0, 213); */
        width: 100%;
    }

    .toggle-button-container{
        /* margin-left: 15.4em; */
    }
    

    .nest_for_dropdown_column_style{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .dropdown-menu-container{
        max-width: 100vh;
    }
    
    .dropdown-menu{
        position: relative;
        z-index: 999999;
        background: linear-gradient(180deg, rgb(248, 216, 207) 5%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 80%);
        max-width: 100vh;
        text-align: center;
    }


    /* Show the burger icon on smaller screens */

    .burger-icon{
        display: flex;
    }

    .burger-icon .bar{
        background-color: #fff;
    }

    .dropdown-menu-container{
        max-width: 100%;
    }


    /*MAIN SECTION*/

    .content_container{
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        
    }

    .tech_art{
        background-color: #000;
        padding: 5em;
        width: 100%;
        margin: auto;
        
    }

    .ta_title{
        padding-bottom: 0.8em;
        color: #fff;
        width: 21em;
    }

    .tech_text{
        width: 18.9em;
        height: 22em;
        padding: 0.9em;
    }

    /*SELF BIO SECTION*/

    .fullname_div{
        color: #fff;
        background-color: #000;
        padding: 0.9em;
    }

    .bio_img{
        background-color: #000;
        padding: 5em;
    }

    .bio_img img{
        border-radius: 3.5em;
    }


    /*PASSION SECTION*/

    .passion_larger{
        background-color: #000;
        padding: 5em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .passion_title_div{
        color: #fff;
        padding-bottom: 1em;
    }

    .passion{
        max-width: 18.9em;
        max-height: 22em;
        padding: 0.9em;
    }
}