@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Squada+One&family=Staatliches&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* HEADER SECTION */
.header_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    background: rgb(255,106,59);
    background: linear-gradient(180deg, rgba(255,106,59,1) 0%, rgba(153,64,35,1) 30%);

}



/* TITLE SECTION */
.title_div{
    margin: 25px 25px;
}

.title{
    font-family: "Squada One", sans-serif;
    font-size: 35px;
    transition: color 0.6s ease;
}

.lit-title{
    display: none;
}

.title:hover{
    color: white;
}

.toggle-button-container{
    display: none;
}

/* NAVBAR SECTION */

.nav_section .navbar{
    display: flex;
    margin: 30px 35px;
    list-style-type: none;
}

ul a{
    transition: color 0.6s ease;
}

ul a:hover{
    color: white;
}

.navbar a{
    margin: 0px 15px;
    text-decoration: none;
    font-family: "Squada One", sans-serif;
    font-size: 35px;
    color: black;
}

    /* Burger Icon (Hidden on larger screens) */
    .burger-icon {
        cursor: pointer;
        display: none; /* Hidden by default */
        flex-direction: column;
        gap: 5px;
        padding:30px 20px 0px 0px;
    }
    
    .burger-icon .bar {
        width: 25px;
        height: 3px;
        background-color: #000;
        transition: transform 0.3s, opacity 0.3s;
    }
    
    /* Active State for Burger Icon */
    .burger-icon.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .burger-icon.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .burger-icon.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Dropdown Menu (Hidden on larger screens) */

.dropdown-menu-container{
    display: none; /* Hidden by default */
    background: rgb(255,106,59);
    background: linear-gradient(180deg, rgba(255,106,59,1) 3%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 80%);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    
}

.dropdown-menu {
    list-style: none;
    display: flex;
    flex-direction: column; /* Display items in a column */
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 8px; /* Space between menu items */
}

/* Show Dropdown Menu */
.dropdown-menu-container.active {
    display: block;
    flex-direction: column;
}


/* MAIN BODY SECTION */


body .main_section{
    background: rgb(255,106,59);
    background: linear-gradient(180deg, rgba(255,106,59,1) 0%, rgba(153,64,35,1) 0%);
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    overflow: hidden;
}

.main_section{
    display: flex;
    justify-content: space-evenly;
    
}

/* FIRST ROW */

.first_row{
    /* background-color: yellow; */
    padding: 10px 0px;
    width: 510px;
}


.fdc{
    display: flex;
    justify-content: space-evenly;
}

.first_div{
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.first_div img{
    width: 298px;
    height: 400px;
    border-radius: 10px;
    object-fit: contain;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}

.small_paint img{
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
}


.small_paint .close_up{
    height: 180px;
    padding-top: 5px;
}

.first_div_text{
    padding-top: 10px;
    text-align: center;
    margin-top: 5px;
    font-family: "Archivo", sans-serif;
    
}

.second_div{
    height:230px;
    width: 510px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.second_div img{
    height: 230px;
    width: 160px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);

}

.second_div_text{
    text-align: center;
    padding-top: 10px;
    color: black;
    font-family: "Archivo", sans-serif;
}
/* SECOND ROW */

.second_row{
    /* background-color: green; */
    height: 700px;
    width:470px;
    /* padding: 10px 10px; */
}

.third_div{
    height: 230px;
    width: 470px;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.third_div img{
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);

}

.third_div_text{
    padding-top: 5px;
    text-align: center;
    font-family: "Archivo", sans-serif;
}

.fourth_div{
    height: 400px;
    width: 330px;
    /* background-color: black; */
    margin-top: 5px;
    border-radius: 10px;
}

.fourth_div img{
    height: 400px;
    width: 330px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}

.fourth_div_text{
    padding-top: 10px;
    text-align: center;
    font-family: "Archivo", sans-serif;
}

.sdc{
    height: 439px;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    border-radius: 10px;
}


.small_paint_two div img{
    height: 180px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
}



/* THIRD ROW */

.third_row{
    /* background-color: green; */
    height: 700px;
    width: 470px;
    
}

.fifth_div{
    height: 400px;
    width: 470px;
    /* background-color: white; */
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

/* Precise class for the large painting */

.fd_first_painting{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}

/* Precise class for the large painting */


.fifth_div img{
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.tr_small_paints img{
    height: 200px;
    width: 150px;
    padding-left: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
}

.fifth_div_text{
    padding-top: 10px;
    text-align: center;
    padding: 15px 0px 10px 0px;
    font-family: "Archivo", sans-serif;
}

.sixth_div{
    height: 255px;
    width: 470px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.sixth_div img{
    height: 240px;
    width: 180px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.56);
}

.sixth_div_text{
    padding-top: 1px;
    padding-bottom: 2px;
    text-align: center;
}


@media screen and (max-width: 650px) and (min-width: 250px){

    body{
        margin: 0;
        padding: 0;
        
    }

    html {
        scroll-behavior: smooth;
    }
    

    .nav_section{
        display: none;
    }

    .header_section{
        background: #000;
    }

    .title{
        display: none;
    }

    .lit-title{
        display: flex;
        font-family: "Squada One", sans-serif;
        font-size: 35px;
        color: #fff;
    }

    

    .toggle-button-container{
        display: flex;
    }

    /* Show the burger icon on smaller screens */

    .burger-icon{
        display: flex;
    }

    .burger-icon .bar{
        background-color: #fff;
    }

    .burger-and-dropdown{
        display: flex;
        flex-direction: column-reverse;
    }

    .dropdown-menu-container{
        max-width: 100%;
    }
    
    .dropdown-menu{
        background: linear-gradient(180deg, rgb(248, 216, 207) 5%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 80%);
        text-align: center;
    }


    /*MAIN SECTION*/

    .main_section{
        background: #000;
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .first_row{
        height: 100vh;
        width: 100%;
        background: #000;
        justify-content: center;
    }

    .fdc{
        display: flex;
        flex-direction: column;

    }

    /*FIRST LARGE PAINTING*/
    .first_div{
        display: flex;
        margin: auto;

    }

    .small_paint{
        display: flex;
        justify-content: space-evenly;
        padding: 1em 0em;
    }
    
    /*FIRST ROW, LAST 3 PAINTINGS*/
    .second_div{
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 0em 7em 0em 0em;
        padding-right: -5em;
        flex-flow: row-reverse;
    }

    .second_div img{
        height: 10em;
        width: 7em;
    }

    .second_row{
        height: 100vh;
        display: flex;
        flex-direction: column;
        
    }

    

    .third_div{
        display: flex;
        flex-direction: column;
    }


    /*SECOND SECTION*/

    .second_row{
        display: block;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background: #000;
    }

    /*Second row of 3 paintings*/
    .third_div{
        display: flex;
        flex-flow: row wrap;
        height: auto;
        width: 100%;
    }



}

